<p id="notice"><%= notice %></p>

<h1>Listing Official Photos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @official_photos.each do |official_photo| %>
      <tr>
        <td><%= official_photo.title %></td>
        <td><%= official_photo.description %></td>
        <td><%= link_to 'Show', shop_official_photo_path(@shop, official_photo) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
