<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @official_photo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @official_photo.description %>
</p>

<%= link_to 'Back', shop_official_photos_path %>
