%ul.menu
  %li
    - shop_menu = current_page?(shop_path(@shop))
    .menu_item{style: shop_menu ? "color: red;" : ""}
      = link_to_if_with_block !shop_menu, @shop do
        店舗
  %li
    - reviews_menu = request_path_include?('reviews')
    .menu_item{style: reviews_menu ? "color: red;" : ""}
      = link_to_if_with_block !reviews_menu, shop_reviews_path(@shop) do
        口コミ
  %li
    - phtos_menu = request_path_include?('photos')
    .menu_item{style: phtos_menu ? "color: red;" : ""}
      = link_to_if_with_block !phtos_menu, shop_photos_path(@shop) do
        写真
