<p id="notice"><%= notice %></p>

<h1>Listing Photos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.title %></td>
        <td><%= photo.description %></td>
        <td><%= link_to 'Show', shop_photo_path(@shop, photo) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
